body {
    background: #0e0000;
    color: #f0f8f7;
    margin-top: 5rem;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #fcf8f8;
  }
  
  .bg-steel {
    background-color: #a5bdc73b;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #f1f7fa;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #f1f5f7;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #2a373a3f;
    padding: 10px 20px;
    border: 1px solid #9ba2b1;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #f7f3f3;
  }
  
  a.article-title:hover {
    color: #e1e8ee;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #f8f3f3;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }